.signupNow {
    margin-inline-start: 3px;
}

.tagInput::-webkit-calendar-picker-indicator {
    display: none !important;
}


.infinite-scroll-component::-webkit-scrollbar{
    display: none !important;
}
.postPreviewTags::-webkit-scrollbar
 {
    display: none;
}

#scrollableDiv::-webkit-scrollbar-track,
.customScrollbar::-webkit-scrollbar-track
{
    background-color: black !important;
}

#scrollableDiv::-webkit-scrollbar-thumb,
.customScrollbar::-webkit-scrollbar-thumb
{
    background-color: white !important;
    border-radius: 10px;
}

#scrollableDiv::-webkit-scrollbar,
.customScrollbar::-webkit-scrollbar
{
    background-color: black !important;
    width: .4rem;
}



.postPreviewTags {
    scroll-behavior: smooth;
}

.MuiMasonry-root{
    margin: 0 !important;
}

