.signupNow {
    margin-inline-start: 3px;
}

.tagInput::-webkit-calendar-picker-indicator {
    display: none !important;
}

.postPreviewTags::-webkit-scrollbar {
    display: none;
}

.postPreviewTags {
    scroll-behavior: smooth;
}

.MuiMasonry-root{
    margin: 0 !important;
}

