@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Boogaloo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Apercu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Boogaloo';
  src: url('./assets/fonts/Boogaloo-Regular.ttf');
}

@font-face {
  font-family: 'Apercu';
  src: url('./assets/fonts/Apercu\ Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Apercu';
  src: url('./assets/fonts/Apercu\ Regular.otf');
}
@font-face {
  font-family: 'Apercu';
  src: url('./assets/fonts/Apercu\ Medium.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'Apercu';
  src: url('./assets/fonts/Apercu\ Light.otf');
  font-weight: 300;
}
@font-face {
  font-family: 'Apercu';
  src: url('./assets/fonts/Apercu\ Italic.otf');
  font-style: italic;
}

/* @font-face {
  font-family: 'Inter';
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
} */


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
}

